---
layout: layouts/base.liquid
pagination:
  data: notes
  size: 25
permalink: "/notes/{{ pagination.pageNumber | plus: 1 }}/index.html"
---



{% edge "liquid" %}
{{ eleventy.edge | json}}
{% endedge %}

{%- for item in pagination.items %}
  {% render 'components/social-post.liquid' post:item %}
{% endfor -%}



<nav aria-labelledby="my-pagination">
  <ul>
    <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">Newest</a>{% else %}Newest{% endif %}</li>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
    <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Oldest</a>{% else %}Oldest{% endif %}</li>
  </ul>
</nav>
